[Unit]
Description=Consul Agent
After=network.target auditd.service

[Service]
Environment="GOMAXPROCS=`nproc`"
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent --config-dir={{ consul_config_dir }} --config-file={{ consul_config_file }}

[Install]
WantedBy=multi-user.target